.gridRow{
	width: 450px;
	height: 50px;
	margin: auto;
}
.gridSquare{
	width: 50px;
	height: 50px;
	border: 1px solid black;
	float: left;
	background-color: #cacaca;
	cursor: pointer;
}

.grid{
	width: 450px;
	height: 450px;
	margin: auto;
}