.gridRow{
	width: 450px;
	height: 50px;
	margin: auto;
}
.gridSquare{
	width: 50px;
	height: 50px;
	border: 1px solid black;
	float: left;
	background-color: #cacaca;
	cursor: pointer;
}

.col-md-3 button{
	margin-top: 5px;
	margin-right: 10px;
	margin-bottom: 5px;
}