<div class="container">
	<h1>Game</h1>
    <div class="col-md-3" #ships>
	    <button class="btn btn-info" id="orientationSwitch" (click)="onOrientationChange()">Horizontal</button><br />
	    <button class="btn btn-secondary" *ngFor="let ship of availableShips; let i=index" (click)="onShipPick(i)">
	        {{ship.name}}
	    </button>
        <button *ngIf="availableShips.length == 0" type="button" class="btn btn-default" (click)="startGame()">Ready</button>
    </div>
    <div (click)="onGridClick($event.target)">
        <div class="gridRow 0">
            <div class="gridSquare 0"></div>
            <div class="gridSquare 1"></div>
            <div class="gridSquare 2"></div>
            <div class="gridSquare 3"></div>
            <div class="gridSquare 4"></div>
            <div class="gridSquare 5"></div>
            <div class="gridSquare 6"></div>
            <div class="gridSquare 7"></div>
            <div class="gridSquare 8"></div>
            <div style="clear:both;"></div>
        </div>
        <div class="gridRow 1">
            <div class="gridSquare 0"></div>
            <div class="gridSquare 1"></div>
            <div class="gridSquare 2"></div>
            <div class="gridSquare 3"></div>
            <div class="gridSquare 4"></div>
            <div class="gridSquare 5"></div>
            <div class="gridSquare 6"></div>
            <div class="gridSquare 7"></div>
            <div class="gridSquare 8"></div>
            <div style="clear:both;"></div>
        </div>
        <div class="gridRow 2">
            <div class="gridSquare 0"></div>
            <div class="gridSquare 1"></div>
            <div class="gridSquare 2"></div>
            <div class="gridSquare 3"></div>
            <div class="gridSquare 4"></div>
            <div class="gridSquare 5"></div>
            <div class="gridSquare 6"></div>
            <div class="gridSquare 7"></div>
            <div class="gridSquare 8"></div>
            <div style="clear:both;"></div>
        </div>
        <div class="gridRow 3">
            <div class="gridSquare 0"></div>
            <div class="gridSquare 1"></div>
            <div class="gridSquare 2"></div>
            <div class="gridSquare 3"></div>
            <div class="gridSquare 4"></div>
            <div class="gridSquare 5"></div>
            <div class="gridSquare 6"></div>
            <div class="gridSquare 7"></div>
            <div class="gridSquare 8"></div>
            <div style="clear:both;"></div>
        </div>
        <div class="gridRow 4">
            <div class="gridSquare 0"></div>
            <div class="gridSquare 1"></div>
            <div class="gridSquare 2"></div>
            <div class="gridSquare 3"></div>
            <div class="gridSquare 4"></div>
            <div class="gridSquare 5"></div>
            <div class="gridSquare 6"></div>
            <div class="gridSquare 7"></div>
            <div class="gridSquare 8"></div>
            <div style="clear:both;"></div>
        </div>
        <div class="gridRow 5">
            <div class="gridSquare 0"></div>
            <div class="gridSquare 1"></div>
            <div class="gridSquare 2"></div>
            <div class="gridSquare 3"></div>
            <div class="gridSquare 4"></div>
            <div class="gridSquare 5"></div>
            <div class="gridSquare 6"></div>
            <div class="gridSquare 7"></div>
            <div class="gridSquare 8"></div>
            <div style="clear:both;"></div>
        </div>
        <div class="gridRow 6">
            <div class="gridSquare 0"></div>
            <div class="gridSquare 1"></div>
            <div class="gridSquare 2"></div>
            <div class="gridSquare 3"></div>
            <div class="gridSquare 4"></div>
            <div class="gridSquare 5"></div>
            <div class="gridSquare 6"></div>
            <div class="gridSquare 7"></div>
            <div class="gridSquare 8"></div>
            <div style="clear:both;"></div>
        </div>
        <div class="gridRow 7">
            <div class="gridSquare 0"></div>
            <div class="gridSquare 1"></div>
            <div class="gridSquare 2"></div>
            <div class="gridSquare 3"></div>
            <div class="gridSquare 4"></div>
            <div class="gridSquare 5"></div>
            <div class="gridSquare 6"></div>
            <div class="gridSquare 7"></div>
            <div class="gridSquare 8"></div>
            <div style="clear:both;"></div>
        </div>
        <div class="gridRow 8">
            <div class="gridSquare 0"></div>
            <div class="gridSquare 1"></div>
            <div class="gridSquare 2"></div>
            <div class="gridSquare 3"></div>
            <div class="gridSquare 4"></div>
            <div class="gridSquare 5"></div>
            <div class="gridSquare 6"></div>
            <div class="gridSquare 7"></div>
            <div class="gridSquare 8"></div>
            <div style="clear:both;"></div>
        </div>
    </div>
</div>