<!--The whole content below can be removed with the new code.-->
<div class="container">
  <div class="row">
    <div class="col-md-12" style="text-align: center;">
      <i routerLink="/" class="fa fa-ship" aria-hidden="true"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button *ngIf="!isConnected" type="button" class="btn btn-default" routerLink="/register" routerLinkActive="active">Register</button>
      <button *ngIf="!isConnected" type="button" class="btn btn-default" routerLink="/login" routerLinkActive="active">Login</button>
      <button *ngIf="isConnected" type="button" class="btn btn-default" routerLink="/lobby" routerLinkActive="active">Lobby</button>
      <button *ngIf="isConnected" type="button" class="btn btn-default" routerLink="/edit-profile" routerLinkActive="active">Edit profile</button>
      <button *ngIf="isConnected" type="button" class="btn btn-default" (click)="disconnect()">Disconnect</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>