#chat,#list_people{
	border: 1px solid black;
	margin-top: 20px;
	margin-bottom: 20px;
}
h2{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	margin: 0;
	background-color: #acacac;
	font-size: 24px;
	border-bottom: 1px solid black;
}
:host /deep/ span{ /* dynamically generated */
	font-weight: bold;
	text-decoration: underline;
}
:host /deep/ .a_message{
	margin: 0;
	color: black;
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0px;
	padding-bottom: 15px;
} 
:host /deep/ .a_user, :host /deep/ .a_game{
	margin: 0;
	color: black;
	text-align: center;
	font-size: 16px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
#messages{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid black;
	margin: 0;
}
:host /deep/ h4{
	font-size: 14px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
	padding-left: 10px;
	margin-bottom: 0px;
}